.container{
      margin-top: 60px;

}
.about-section {
  
  transition: all 0.3s ease;
}
.about-section:hover {
  background-color: #e9f5ff;
}

.info-section h6 {
  margin-bottom: 0.5rem;
}

.info-section a {
  font-size: 0.85rem;
}

.info-section:hover {
  background-color: #f8f9fa;
}
